
{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center;">Log In</h1><br><br>
    <form  method="post", action="/auth/sendpw">
        {% csrf_token %}
        <label class="label" for="email">Email</label>
        <div class="field">
            <input class="input" type="email" id="email" name="email" placeholder="Email" required>
        </div><br>
        <div class="field">
            <button class="button is-dark" type="submit">Send New Password</button>
        </div>
    </form>
</div>
{% endblock %}