
{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center;">Log In</h1><br><br>
    <form class="login-form" method="post", action="/auth/sendpw">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div><br>
        <div class="form-group">
            <button type="submit">Send New Password</button>
        </div>
    </form>
</div>
{% endblock %}