{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1 class="title" style="text-align: center;">Log In</h1><br><br>
        <form class="login-form" method="post", action="/auth/login">
            {% csrf_token %}
            <div class="field">
                <input class="input" id="username" name="username" placeholder="username" required>
            </div><br>
            <div class="field">
                <input class="input" id="password" name="password" type="password" placeholder="password" required>
            </div><br><br>
            <div class="field">
                <button class="button is-dark" type="submit">Login</button>
            </div>
        </form><br>
        <a style="color: black;" href="/auth/sendpw">Forgot Password</a>
    </div>

<!-- fix this so that it looks better -->
    <div style="margin: auto;"> 
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}