{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}

<div class="container">
    <form class="registration-form" method="post" action="/auth/register">
        {% csrf_token %}
        <h2 style="text-align: center;">Registration</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div><br>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div><br>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div><br>
        <div class="form-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div><br>
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
        </div><br>
        <div class="form-group">
            <button type="submit">Register</button>
        </div>
    </form>
</div>


{% endblock %}