{% extends 'base.html' %} {% block title %}Profile {% endblock %} 
{% block content %}
<!-- add is-active class for any item when on that page -->
<div class="columns">
  <div class="column is-one-fifth">
    <aside class="menu">
      <p class="menu-label">Profile</p>
      <ul class="menu-list">
        <li><a>Edit Profile</a></li>
        <li><a>Delete Your Profile</a></li>
      </ul>
      <p class="menu-label">Security and Login</p>
      <ul class="menu-list">
        <li><a>Change Password</a></li>
        <li><a>Enable 2 Factor Authentication</a></li>
        <li><a>Change Phone Number</a></li>
      </ul>
      <p class="menu-label">Activity</p>
      <ul class="menu-list">
        <li><a>Your Comments</a></li>
        <li><a>Your Likes</a></li>
        <li><a>Condemed Posts Status</a></li>
      </ul>
    </aside>
  </div>
  <div class="column">
    <section class="section">
      <div class="container">
        <div class="columns">
          <!-- Profile information -->
          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="profile-picture.jpg" alt="Profile Picture">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="avatar.jpg" alt="Avatar">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">John Doe</p>
                    <p class="subtitle is-6">@johndoe</p>
                  </div>
                </div>
  
                <div class="content">
                  <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum mauris eu tortor mattis posuere.</p>
                  <p>Email: john.doe@example.com</p>
                  <p>Location: City, Country</p>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Profile posts -->
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Posts
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="post1.jpg" alt="Post 1">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-5">Post 1</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
  
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="post2.jpg" alt="Post 2">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-5">Post 2</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
  
                  <!-- Add more posts here -->
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}
