/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Dark mode */
body {
    background-color: #222;
    color: #fff;
}

/* Header and Navbar styles */
header {
    background-color: #333;
    padding: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    color: #fff;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Form control styles */
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}


input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}



button[type="submit"],
button[type="button"] {
    background-color: #2196f3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0d8bce;
}